server:
  port: 8080
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/ums?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: postgres
